.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: var(--secondary-background-color);
    @media screen and (min-width: 768px) {
    }
    
     @media screen and (min-width: 1200px) {
     display: flex;
        }
    &__container {
    text-align: center;
    
        @media screen and (min-width: 768px) {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
    
            align-items: baseline;
        }
    
        @media screen and (max-width: 1199px) {
            justify-content: center;
        }
    
        @media screen and (min-width: 1200px) {
            align-items: baseline;
            display: flex;
            text-align: start;
    } 
    }
 &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer__contact {
    @media screen and (min-width: 768px) {
            margin-right: 165px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 70px;
        }
}
.footer__logo {
    display: inline-block;
    margin-bottom: 20px;

    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    color: var(--accent-color);

    &-part {
        color: var(--secondary-text-color);
    }
}

.footer__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }

    & .footer__map {
        color: var(--secondary-text-color);
    }
}
.social {

    @media screen and (max-width: 767px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: auto;
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        
            @media screen and (min-width: 768px) {

            }
        
            @media screen and (min-width: 1200px) {
                margin-bottom: 20px;
            }
        }
        
        &__list {
        
            display: flex;
            justify-content: center;
            align-items: center;
        
            @media screen and (min-width: 768px) {
            }
        
            @media screen and (min-width: 1200px) {
            }
        }
       &__svg {
        fill: var(--secondary-text-color);
       }
    }
        .social__item {
            width: 44px;
            height: 44px;
            margin: 0 10px 0 0;
    
            @media screen and (min-width: 768px) {

            }
            @media screen and (min-width: 1200px) {
                display: flex;
            }
    
            &:last-child {
                margin-right: 0;
            }
        }
        .social__net {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1);
            transition: background-color var(--cubic-bezier);
            @media screen and (min-width: 768px) {
            }

            @media screen and (min-width: 1200px) {
            }

             &:focus,
             &:hover {
              background-color: var(--accents);
              }
       }
       .subscribe {
        @media screen and (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                width: 450px;
                margin-top: 60px;
                justify-content: center;
            }
        
            @media screen and (min-width: 1200px) {
                width: 570px;
                margin: 0;
                justify-content: start;
            }
        
        &__title {
        display: block;
         margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
        text-transform: uppercase;
        }
        &__form {
        
                @media screen and (min-width: 768px) {
                }
        
                @media screen and (min-width: 1200px) {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        &__email {
               height: 50px;
               background-color: #2f303a;
               padding: 15px;
               border: 1px solid rgba(255, 255, 255, 0.3);
               filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
               border-radius: 4px;
               font-weight: 400;
               font-size: 16px;
               line-height: 1.25;
               letter-spacing: 0.03em;
               color: rgba(255, 255, 255, 0.6);
               width: 100%;
               margin-bottom: 20px;

                 @media screen and (min-width: 768px) {
                    width: 450px;
                }

                @media screen and (min-width: 1200px) {
                   display: flex;
                   align-items: center;
                   width: 358px;
                   margin-bottom: 0;
                }
           } 
           &__svg {
            margin-left: 10px;
           }  
        }
    .subscribe__button {
            padding: 10px 28px;
            justify-content: center;
            align-items: center;
           
        
            @media screen and (min-width: 768px) {
                width: 200px;
            }
        
            @media screen and (min-width: 1200px) {
                display: flex;
                margin-left: 12px;
                height: 50px;
            }
     
}
.activ-element {
    transition: color var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--accent-color);
       }
}

