.header {
    border-bottom: 1px solid var(--header-border-color);
    margin: auto;
    position: relative;

}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 15px 0;

    @media screen and (min-width: 768px) {
        padding: 26px 0;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
    }

    @media screen and (min-width: 1200px) {
        padding: 25px 0;
        font-size: 26px;
        margin-right: 93px;
    }

    &-part {
        color: var(--logo-color);
    }
}

.header__container {
    display: flex;
    align-items: center;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: wrap;
    }
}

.nav {
    display: flex;

    @media screen and (min-width: 768px) {
        display: block;
    }

    &__list {
        display: flex;
        padding-left: 0;
        margin: 0 0;

        @media screen and (min-width: 768px) {
            margin-left: 87px;
            margin-right: 96px;
        }

        @media screen and (min-width: 1200px) {
            margin: 0;
        }
    }

    &__list li:not(:first-child) {
        margin-left: 50px;
    }

    &__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color var(--cubic-bezier);
        color: var(--primary-text-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    }
}

.nav__link:focus,
.nav__link:hover {
    color: var(--accent-color);
}

.current {
    position: relative;
    color: var(--accent-color);
}

.current::after {
    content: "";
    position: absolute;
    left: -1px;
    bottom: -1px;
    display: block;
    width: calc(100% + 1px);
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
}

.contact {
    &__list {
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 1200px) {}

        &__list li:not(:first-child) {
            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
            }

            @media screen and (min-width: 1200px) {
                margin-left: 50px;
                margin-bottom: 0;

            }
        }

        &__list .svg {
            margin-right: 10px;
            fill: currentColor;
        }

        &__mail,
        &__tel {
            display: flex;
            align-items: center;
            font-size: 12px;
            transition: color var(--cubic-bezier);
            color: var(--primary-text-color);

            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            text-decoration: none;

            @media screen and (min-width:1200px) {
                padding-top: 32px;
                padding-bottom: 32px;
                font-size: 14px;
            }


            color: var(--tetriary-text-color);
        }
    }
}

.contact__svg {
    fill: currentColor;
    display: block;
    align-items: center;
    margin-right: 10px;
    transition: var(--cubic-bezier);

    .contact__tel:hover &,
    .contact__tel:focus & {
        fill: var(--accent-color);
    }

    .contact__mail:hover &,
    .contact__mail:focus & {
        fill: var(--accent-color);
    }
}

.contact__mail:hover,
.contact__mail:focus,
.contact__tel:hover,
.contact__tel:focus {
    color: var(--accent-color);
}

.contact__tel,
.contact__mail {
    color: var(--cubic-bezier);
}

/* бургер*/
@media screen and (min-width: 768px) {
    .drop-menu {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .drop-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #FFFFFF;
        padding: 48px 0px 48px 40px;

        transform: translateY(-150%);
        transition: var(--cubic-bezier);

        &.is-open {
            transform: translateY(0);
            position: fixed;
        }

        &__button {
            position: absolute;
            right: 15px;
            top: 10px;
            padding: 0;
            border: none;
            background-color: transparent;
        }
    }

    .drop-menu__icon {
        width: 40px;
        height: 40px;
        transition: var(--cubic-bezier);

        .drop-menu__icon__button:active &,
        .drop-menu__icon__button:focus &,
        .drop-menu__icon__button:hover & {
            fill: var(--accent-color);
        }
    }

    .drop-menu__item {
        &:not(:last-child) {
            margin-bottom: 36px;
        }
    }

    .drop-menu__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);

        &:active,
        &:focus,
        &:hover {
            color: var(--accent-color);
        }
    }

    .drop-menu__contact {
        margin-top: auto;
        margin-bottom: 64px;
    }

    .drop-menu__contact-list:not(:last-child) {
        margin-bottom: 32px;
    }

    .drop-menu__contact-tel {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: var(--tetriary-text-color);

        @media screen and (max-width: 333px) {
            font-size: 26px;
        }

        &::active,
        &:focus,
        &:hover {
            color: var(--accent-color);
        }
    }

    .drop-menu__contact-mail {
        font-size: 24px;
        line-height: 1.16px;
        letter-spacing: 0.02em;
        color: var(--tetriary-text-color);

        &:active,
        &:focus,
        &:hover {
            color: var(--accent-color);
        }
    }

    .drop-menu__social-list {
        display: flex;
        flex-wrap: wrap;
    }

    .drop-menu__social-item {
        @media screen and (max-width: 396px) {
            margin-bottom: 5px;
            margin-left: 5px;
        }

        &:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            padding-right: 10px;
        }

        &:not(:first-child) {
            padding-left: 10px;
        }

        &:first-child {
            @media screen and (max-width: 396px) {
                padding-left: 10px;
            }
        }
    }

    .drop-menu__social-link {
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-color);

        &:active,
        &:focus,
        &:hover {
            color: #188CE8;
        }
    }
}

/*Кнопка*/
.header__button {
    display: inline-flexbox;
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    padding: 10px 0;

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.drop-menu,
.header__button {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.accent {
    color: #2196F3;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: -3px;
        bottom: -1px;
        display: block;
        width: calc(100% + 6px);
        height: 4px;

        background: var(--accent-color);
        border-radius: 2px;
    }
}