.pledge {
    text-align: center;
    margin: auto;
    padding: 118px 0;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url("../images/pledge.mobil@1x.jpg");
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
             rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)),
             url("../images/pledge.mobil@2x.jpg");
    
        }
    
        @media screen and (min-width: 480px) {
            min-width: 480px;
        }
    
    
        @media screen and (min-width: 768px) {
            height: 400px;
            min-width: 768px;
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../images/pledge.tab@1x.jpg");
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url("../images/pledge.tab@2x.jpg");
            }
        }
    
        @media screen and (min-width: 1200px) {
            max-width: 1600px;
            height: 600px;
            padding: 200px 0;
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../images/desk@1x.jpg");
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url("../images/desk@2x.jpg");
            }
        }

    &__title {
    margin: 0 auto 30px;

    color: var(--secondary-text-color);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
            max-width: 360px;
        }
    
    @media screen and (min-width: 1200px) {
            max-width: 696px;
            font-size: 44px;
            ;
        }
    }

    &__order {
    display: inline-block;
    padding: 10px 32px;
   
    border-radius: 4px;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform var(--cubic-bezier);
    }
}

.pledge__order:hover,
.pledge__order:focus {
    background-color: var(--btn-activ-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity var(--cubic-bezier);
    background-color: rgba(0, 0, 0, 0.2);

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: absolute;
    padding: 20px;

    fill: var(--primary-text-color);
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 290px;
    min-height: 590px;

    @media screen and(min-width:480px) {
        padding: 40px;
        width: 450px;
        min-height: 609px;
    }

    @media screen and(min-width:768px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 528px;
        min-height: 581px;
    }
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
    ;
    right: 0px;

    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 50%;

    transition: fill var(--cubic-bezier);
    background: var(--secondary-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
}

.close-button:focus svg,
.close-button:hover svg {
    fill: var(--accent-color);
}


.modal-title {
    display: block;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;

    color: var(--primary-text-color);

    @media screen and(min-width:1200) {
        line-height: 1.15;
    }
}

.modal-form {
    display: block;

    margin-top: 14px;
    width: 100%;

    color: var(--tetriary-text-color);
}

.modal-element {
    display: flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-align: left;
    width: 100%;

    margin-bottom: 10px;
}

.modal-element label {
    margin-bottom: 4px;
}

.modal-element input {
    height: 40px;
    width: 100%;
    padding-left: 42px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background: var(--primary-background-color);

    transition: fill var(--cubic-bezier);
    cursor: pointer;
    outline: none;
}

.modal-icon {
    position: relative;
}

.modal-icon svg {
    position: absolute;

    top: 50%;
    left: 12px;
    translate: 0 -50%;
}

.modal-element input:focus+svg {
    fill: var(--accent-color);
}

.modal-element input:focus {
    border: 1px solid var(--accent-color);
}

.modal-element textarea:focus {
    border: 1px solid var(--accent-color);
}

.modal-element textarea {
    height: 120px;
    width: 250px;
    padding: 12px 16px;

    background: var(--secondary-text-color);
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
    resize: none;
    outline: none;

    @media screen and(min-width:480px) {
        width: 370px;
    }

    @media screen and(min-width:768px) {
        width: 370px;
    }

    @media screen and(min-width:768px) {
        width: 448px;
    }
}

.textarea {
    margin-bottom: 20px;
}

.modal-policy {
    display: flex;
    justify-content: center;

    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    margin-bottom: 30px;

    @media screen and(min-width:1200px) {
        font-size: 14px;
        line-height: 2;
    }
}

.label-policy {
    display: flex;
    align-items: center;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    width: 16px;
    height: 15px;

    border-radius: 2px;
    border: 2px solid var(--primary-text-color);
}

.modal-policy input:checked+.checkbox {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.modal-policy input:focus-within>.checkbox {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.policy-link {
    
    color: var(--accent-color);
    text-decoration-line: underline;

}

.from-button {
    display: flex;
    justify-content: center;
}

.modal-form .modal-button {
    cursor: pointer;
    padding: 10px 52px;
    background: var(--accent-color);
    color: var(--secondary-text-color);
}

.modal-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--primary-text-color);
    border-radius: 4px;
    transition: background-color var(--cubic-bezier);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and(min-width:768px) {

    .modal-button:focus,
    .modal-button:hover {
        background-color: var(--btn-activ-color);
    }
}
.modal-input {
    transition: var(--cubic-bezier);
}
.modal-imput:hover,
.modal-imput:focus {
    border: 1px solid var(--accent-color);
    outline: 1px var(--accent-color);
   
}

.form-svg{
transition: var(--cubic-bezier);
}
.modal-imput:hover ~ .form-svg,
.modal-imput:focus ~ .form-svg {
    fill: var(--accent-color);
}