:root {
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --tetriary-text-color: #757575;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --tetriary-background-color: #F5F5F5;
    --hero-background-color: #F5F4FA;
    --btn-activ-color: #188CE8;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --header-border-color: #ECECEC;
    --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;

    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1200px) {}
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    
    border-radius: 4px;
    border: 0px;

    font-family: "Roboto", sans-serif;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-background-color);
    transition: background-color var(--cubic-bezier);
    
        &:hover,
        &:focus {
            background-color: #188ce8;
        }
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.svg {
    fill: currentColor;
}

.title {
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    margin: 0 0 30px 0;


    @media screen and (min-width: 480px) {
        font-size: 28px;
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin: 0 0 50px 0;
    }
}
